<footer class="footer items-center p-4 bg-neutral text-neutral-content" id="footer">
  <div class="items-center grid-flow-col">
    <%= image_tag "logo.webp", class: "w-16 rounded-full", alt: "logo" %>
    <p><%= "Copyright © 2022-#{Date.current.year} - All right reserved" %></p>
    <span class="font-kanji">漢字キャンバス</span>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <%= link_to "Privacy Policy", privacy_policy_path, class: "link link-accent" %>
  </div>
</footer>