<!-- Put this part before </body> tag -->
<input type="checkbox" id="nothing-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <p class="py-4">You have to write something before checking your answer ♥️</p>
    <div class="modal-action">
      <label for="nothing-modal" class="btn">ok</label>
    </div>
  </div>
</div>

<input type="checkbox" id="import-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Import</h3>
    <p class="py-4">Copy and paste a list of kanji. We will do our best to match each Kanji with it's correct reading and definition.</p>
    <textarea rows="4" class="textarea textarea-primary !w-full" placeholder="山&#10;雨&#10;空&#10;花" id="import-area"></textarea>
    <div class="modal-action" id="import-btn">
      <label for="import-modal" class="btn">import</label>
    </div>
  </div>
</div>