<!-- Put this part before </body> tag -->
<input type="checkbox" id="nothing-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <p class="py-4">You have to write something before checking your answer ♥️</p>
    <div class="modal-action">
      <label for="nothing-modal" class="btn">ok</label>
    </div>
  </div>
</div>