<!-- Put this part before </body> tag -->
<input type="checkbox" id="nothing-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <p class="py-4">You have to write something before checking your answer ♥️</p>
    <div class="modal-action">
      <label for="nothing-modal" class="btn">ok</label>
    </div>
  </div>
</div>

<input type="checkbox" id="import-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Import</h3>
    <p class="py-4">Copy and paste a list of kanji. We will do our best to match each Kanji with it's correct reading and definition. Each kanji can be separated by a comma, space, or new line. Very large kanji lists may take a while to complete.</p>
    <textarea rows="4" class="textarea textarea-primary !w-full" placeholder="山&#10;雨&#10;空&#10;花" id="import-area"></textarea>
    <div class="modal-action" id="import-btn">
      <label for="import-modal" class="btn">import</label>
    </div>
  </div>
</div>

<label for="reading-modal" class="btn hidden" id="open-reading-modal"></label>
<input type="checkbox" id="reading-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Error</h3>
    <p class="py-4">This game cannot be played with this study set. Make sure it contains at least 10 kanji.</p>
    <div class="modal-action">
      <%= link_to "ok", root_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>