<div class="flex flex-col items-center">
  <h1 class="text-3xl font-semibold">Kanji Kampus</h1>
  <%= image_tag "logo.png", loading: "lazy", alt: "logo", class: "rounded-full max-w-[300px] w-[80%]" %>
</div>